<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{nome_pagina}}</title>
</head>
<body>
    <a href="/">Voltar para Home</a>
    <form action="/salvar">

        <label action="marca">Marca:</label>
        <input type="text" name="marca" id="marca">
        
        <label action="modelo">Modelo:</label>
        <input type="text" name="modelo" id="modelo">

        <label action="categoria">Categoria:</label>
        <input type="text" name="categoria" id="categoria">

        <label action="ano">Ano:</label>
        <input type="text" name="ano" id="ano">

        <input type="submit" value="Cadastrar">

    </form>
</body>
</html>