<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{nome_pagina}}</title>
</head>
<body>
    <a href="/cadastrar">Cadastrar Veículos</a>
    <table>
        <thread>
            <tr>
                <th>marca</th>
                <th>modelo</th>
                <th>categoria</th>
                <th>ano</th>
            </tr>
        </thread>
        <tbody>
            {% for c in lista %}
            <tr>
                <td>{{c[0]}}</td>
                <td>{{c[1]}}</td>
                <td>{{c[2]}}</td>
                <td>{{c[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</body>
</html>